<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="ethercat_easycat">

    <ros2_control name="ethercat_easycat" type="system">
      <hardware>
        <plugin>ethercat_driver/EthercatDriver</plugin>
        <param name="master_id">0</param>
        <param name="control_frequency">1000</param>
      </hardware>

      <joint name="joint_1">
        <state_interface name="position"/>
        <command_interface name="position"/>
        <ec_module name="easycat">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">0</param>
          <param name="mode_of_operation">9</param>
          <param name="slave_config">$(find ethercat_easycat)/config/easycat_config_joint_1.yaml</param>
        </ec_module>
      </joint>
      <joint name="joint_2">
        <state_interface name="position"/>
        <command_interface name="position"/>
        <ec_module name="easycat">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">0</param>
          <param name="mode_of_operation">9</param>
          <param name="slave_config">$(find ethercat_easycat)/config/easycat_config_joint_2.yaml</param>
        </ec_module>
      </joint>
      <joint name="joint_3">
        <state_interface name="position"/>
        <command_interface name="position"/>
        <ec_module name="easycat">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">0</param>
          <param name="mode_of_operation">9</param>
          <param name="slave_config">$(find ethercat_easycat)/config/easycat_config_joint_3.yaml</param>
        </ec_module>
      </joint>
      <joint name="joint_4">
        <state_interface name="position"/>
        <command_interface name="position"/>
        <ec_module name="easycat">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">0</param>
          <param name="mode_of_operation">9</param>
          <param name="slave_config">$(find ethercat_easycat)/config/easycat_config_joint_4.yaml</param>
        </ec_module>
      </joint>
      <joint name="joint_5">
        <state_interface name="position"/>
        <command_interface name="position"/>
        <ec_module name="easycat">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">0</param>
          <param name="mode_of_operation">9</param>
          <param name="slave_config">$(find ethercat_easycat)/config/easycat_config_joint_5.yaml</param>
        </ec_module>
      </joint>
      <joint name="joint_6">
        <state_interface name="position"/>
        <command_interface name="position"/>
        <ec_module name="easycat">
          <plugin>ethercat_generic_plugins/EcCiA402Drive</plugin>
          <param name="alias">0</param>
          <param name="position">0</param>
          <param name="mode_of_operation">9</param>
          <param name="slave_config">$(find ethercat_easycat)/config/easycat_config_joint_6.yaml</param>
        </ec_module>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>